body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

label {
    display: block;
    text-align: right;
    width: 120px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#submit, #limpar, .GFG, #voltare {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#submit {
    background-color: #4CAF50;
    color: white;
}

#submit:hover {
    background-color: #3e8e41;
}

#limpar {
    background-color: grey;
    color: white;
}

.GFG {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.GFG:hover {
    background-color: navy;
}

#voltare {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

#voltare:hover {
    background-color:  #dc143c;
}